<div>
  <h2>{{movie.name}}</h2>
  <div><span>genre:</span> {{movie.genre}}</div>
  <div><span>rating:</span> {{movie.rating}}</div>

  <form #movieForm="ngForm" (ngSubmit)="onSubmit(movieForm.value, movieForm.valid)" novalidate>
    <div>
      <span>name:</span>
      <input type="text" name="name" #movieName="ngModel" [ngModel]="movie.name" required />
      <span *ngIf="movieName.errors?.required">
        Name is required!
      </span>
    </div>

    <div>
      <span>genre:</span>
      <input type="text" [ngModel]="movie.genre" name="genre" #genre="ngModel" (keydown.Escape)="genre.control.setValue('')" required />
       <span *ngIf="genre.errors?.required">
        Genre is required!
      </span>
    </div>

    <div>
      <span>rating:</span> <input type="number" name="rating" [ngModel]="movie.rating" />
    </div>
    <button type="submit">Save</button>
    <!--{{genre.value | json}}-->
    {{movieForm.value | json}}
  </form>
</div>