<div>
    <em>Model driven</em>
    <h3>{{movie.name}}</h3>
  
    <div>
      <strong>id: </strong>{{movie.id}}
    </div>
    <div>
      <strong>rating: </strong>{{movie.rating}}
    </div>
    <div>
      <strong>genre: </strong>{{movie.genre}}
    </div>
    <form [formGroup]="movieForm" (ngSubmit)="onSaveClicked()" novalidate>
      <div>
        <span>name: </span>
        <input type="text" name="name" formControlName="name" />
        <span *ngIf="movieForm.controls.name.errors?.minlength && movieForm.controls.name.touched === true">Error: name must be at least 3 characters long!</span>
        <span *ngIf="movieForm.get('name').hasError('required') && movieForm.get('name').touched">Error: name is required!</span>
      </div>
      <div>
        <span>genre: </span>
        <input type="text" name="genre" formControlName="genre" />
      </div>
      <div>
        <span>rating: </span>
        <input name="rating" name="rating" type="number" formControlName="rating" />
        <span *ngIf="movieForm.get('rating').hasError('validateRating') && movieForm.get('rating').touched">Error: actual is not between minVal and maxVal!</span>
      </div>
      <div>
        <button type="submit">Save..</button>
        <button type="button" (click)="onResetClicked(movieForm)">Reset..</button>
      </div>
    </form>
  </div>